<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <title>eBook APP - {% block title %}Welcome!{% endblock %}</title>
    </head>

    <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href = "{% url 'myapp:index' %}">E-book Manager</a>
        <ul class="navbar-nav ml-auto" style="height: 42px;">
{#            <li class="nav-item active"><a class="nav-link" href = "{% url 'myapp:index' %}">Index</a><br/></li>#}
            <li class="nav-item active"><a class="nav-link" href = "{% url 'myapp:findbooks' %}">Find book</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'myapp:place_order' %}">Place Order</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'myapp:review' %}">Review Book</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'myapp:orders' %}">View Orders</a></li>
            {% if user.is_authenticated %}
                <li class="nav-item active"><a class="nav-link" href="{% url 'myapp:logout' %}">Logout</a></li>
            {% else %}
                <li class="nav-item active"><a class="nav-link" href="{% url 'myapp:login' %}">Login</a></li>
                <li class="nav-item active"><a class="nav-link" href="{% url 'myapp:register' %}">Register</a></li>
            {% endif %}
            <li class="nav-item active"><a class="nav-link" href="/myapp/about/">About</a></li>
        </ul>
    </nav>
        <div class="container">
            <br>
            {% if user.is_authenticated %}
            <h1>{% block myhdg %}Hello {{ user.first_name }} {% endblock %}</h1>
            {% else %}
                <h1>{% block myhdg1 %}Hello User {% endblock %}</h1>
            {% endif %}
            <br><br>
            {% block body_block %}*** {% endblock %}
        <hr>

        </div>
    </body>
</html>
